@import (css) url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700");


@border-radius: 12px;
@white: hsl(0, 0%, 100%);
@light-gray: hsl(212, 45%, 89%);
@grayish-blue:hsl(220, 15%, 55%);
@dark-blue:hsl(218, 44%, 22%);

html {
  font-family: "Outfit";
}

body {
  background-color: @light-gray;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  margin: 0;
}

h1 {
  color: @dark-blue;
  font-weight: 700;
  font-size: 1.4rem;
}

p {
  font-size: 1rem;
  color: @grayish-blue;
}

a {
  text-decoration: none;
  color: #2B7DFA;
}

a:hover {
  text-decoration: underline;
}

.card {
  background-color: #FFFFFF;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 18rem;
  padding: 1rem;
  border-radius: @border-radius;
}

.qr-code {
  max-width: 100%;
  border-radius: @border-radius;
}

.attribution { 
  font-size: 11px; text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}
